.title {
    margin: 0;
    line-height: 1.15;
    font-size: 2rem;
    padding-top: 1rem;
    z-index: 1;
    text-shadow: 4px 6px 2px rgb(0 0 0 / 20%);
}

.title,
.description {
    text-align: center;
}

.description {
    margin: 0;
    line-height: 1.5;
    font-size: 1rem;
    font-weight: 400;
    padding-top: 0.5rem;
}
